:root {
    --main-color: #4c5253;
    --secondary-color: #241818;    
    --secondary-background-color: #968989;    
    --black-color: #413e3e1a;
    --text-color: #000000;
    --highlight-color: #ff6347;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: var(--main-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
}

p, li, a {
    font-size: 1.1em;
}

.logo img {
    width: 32px;
    height: 32px;
    transition: transform 1s
}
.logo:hover {
    cursor: pointer;
    transition: transform 1s;
    transform: scale(1.3);
}
.links {
    box-shadow: 0 4px 8px var(--black-color);
    margin-bottom: 100px;
    padding: 10px;
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links li {
    display: inline-block;
    padding-right: 10px;
}

.links li .item {
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 100px;
    transition: color 0.3s;
}

.links li .item:hover {
    cursor: pointer;
    color: var(--highlight-color);
    text-decoration: underline; ;
}

.links .menu-mobile {
    display: none;
}

.item-mobile, button {
    display: none;
}

.content {
    width: 60vw;
    margin: auto;
    padding: 20px;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-background-color);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*---mobile---*/
@media (max-width: 1011px) {
    .logo img {
        width: 32px;
        height: 32px;
    }
    .logo {
        width: 32px;
        height: 32px;
    }
    .links .menu {
        display: none;
    }
    .links .menu-mobile { 
        background-color: var(--secondary-background-color);
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 50px;
        width: 100%;
        animation: slideIn 0.5s ease-in-out;
    }
    #button {
        font-size: 2em;
        display: block;
        float: right;
        border: none;
        background-color: transparent;
    }
    .menu-mobile {
        display: none;
        background-color: var(--secondary-background-color);
    }
    .menu-mobile li {
        display: none;
        border: 0px solid var(--main-color);
        padding: 20px;
    }
    .menu-mobile li .item-mobile {
        text-decoration: none;
        color: var(--text-color);
        transition: color 0.3s;
    }
    .menu-mobile li .item-mobile:hover {
        color: var(--highlight-color);
    }
    .content {
        width: 80vw;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}